<!DOCTYPE HTML>
<html>
<head>
	<title>BarChat</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css" />
	<link rel="stylesheet" type="text/css" href="http://{{$host}}/css/libnotify.css" />
	<link rel="stylesheet" type="text/css" href="http://{{$host}}/css/barchat.css" />
</head>
<body>

<header>
	<h1>BarChat</h1>
</header>

<script id="placard_group" type="text/html">
	<div class="placards" id="{{name}}">
		<label>{{title}}</label>
		<ul>
		{{#placards}}
			<li class="user_placard">
				<span class="status"></span>
				<img class="avatar" src="{{avatar}}" title="{{nickname}}">
			</li>
		{{/placards}}
		<ul>
	</div>
</script>

<script id="room_tab" type="text/html">
<li class="roomtab" id="tab_{{room_id}}" data-room="{{room_id}}"><a href="#{{room_id}}">{{room_name}}</a></li>
</script>

<script id="room_contents" type="text/html">
<div id="room_{{room_id}}" data-room="{{room_id}}" class="room">
</div>
</script>

<script id="message" type="text/html">
<div class="message" data-user="{{user.user_id}}">
{{#user.username}}
<div class="who">
{{#user.avatar}}<img src="{{user.avatar}}" class="avatar">{{/user.avatar}}
<span class="username">{{user.username}}</span>
</div>
{{/user.username}}
<div class="message_texts">
{{>message_text}}
</div>
</div>
</script>

<script id="message_text" type="text/html">
<div class="message_text" data-timestamp="{{timestamp}}"><span class="timestamp">{{msgdate}}</span>{{msg}}</div>
</script>

<div id="wrap">
	<div id="statusbar">
	</div>

	<div id="stage">
		<div id="rooms">
			<div id="connect" class="room active" data-room="connect">
				<form id="loginform" action="/api/v1.0/getUserToken?callback=?" method="POST">
					<table>
						<tr><td><label for="server">Server:</label></td><td><select name="server" id="server">
							<option value="http://{{$host}}/api/v1.0/getUserToken?callback=?">Lise</option>
						</select></td></tr>
						<tr><td><label for="username">Username:</label></td><td><input type="text" id="username" name="username"></td></tr>
						<tr><td><label for="password">Password:</label></td><td><input type="password" id="password" name="password"></td></tr>
						<tr><td></td><td><input type="submit" value="Log In"></td></tr>
					</table>
				</form>
			</div>
		</div>

		<div id="controls">
			<ul id="roomtabs">
				<li id="connect" class="active" data-room="connect"><a href="#connect">Connect</a></li>
			</ul>
			<div id="entry">
				<div id="textinput" contentEditable></div>
				<button>send</button>
			</div>
	</div>

</div>

<footer></footer>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/ICanHaz.min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/date.min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/humane.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/barchat.ui.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/barchat.obj.js"></script>

</body>
</html>