<!DOCTYPE HTML>
<html>
<head>
	<title>BarChat</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css" />
	<link rel="stylesheet" type="text/css" href="http://{{$host}}/css/libnotify.css" />
	<link rel="stylesheet" type="text/css" href="http://{{$host}}/css/barchat.css" />
</head>
<body>

<header>
	<h1>BarChat</h1>
</header>

<script id="placard_group" type="text/html">
	<div class="placards" id="{{name}}">
		<label>{{title}}</label>
		<ul>
		{{#placards}}
			<li class="user_placard">
				<span class="status"></span>
				{{#avatar}}
				<img class="avatar" src="{{avatar}}" title="{{nickname}}">
				{{/avatar}}
				{{^avatar}}
				<img class="avatar" src="http://unicornify.appspot.com/avatar/{{_id}}?s=45" title="{{nickname}}">
				{{/avatar}}
			</li>
		{{/placards}}
		<ul>
	</div>
</script>

<script id="room_tab" type="text/html">
<li class="roomtab" id="tab_{{room_id}}" data-room="{{room_id}}" data-server="{{server}}"><a href="#{{room_id}}">{{room_name}}</a></li>
</script>

<script id="room_contents" type="text/html">
<div id="room_{{room_id}}" data-room="{{room_id}}" class="room">
</div>
</script>

<script id="message" type="text/html">
<div class="message" data-user="{{user.user_id}}">
{{#user.username}}
<div class="who">
{{#user.avatar}}
<img src="{{user.avatar}}" class="avatar">
{{/user.avatar}}
				{{^user.avatar}}
				<img class="avatar" src="http://unicornify.appspot.com/avatar/{{user.user_id}}?s=64" title="{{nickname}}">
				{{/user.avatar}}
<span class="username">{{user.username}}</span>
</div>
{{/user.username}}
<div class="message_texts">
{{>message_text}}
</div>
</div>
</script>

<script id="message_text" type="text/html">
<div class="message_text" id="msg_{{_id}}" data-msgid="{{_id}}" data-timestamp="{{timestamp}}"><span class="timestamp">{{msgdate}}</span>{{msg}}</div>
</script>

<div id="wrap">
	<div id="statusbar">
	</div>

	<div id="stage">
		<div id="rooms">
			<div id="connect" class="room active" data-room="connect">
				<form id="loginform" action="" method="POST">
						<p>
							<select name="server" id="server">
								<option value="http://{{$host}}/api/v1.0">{{$host}}</option>
							</select><label for="server">Server</label>
						<p>
							<input type="text" id="username" name="username">
							<label for="username">Username</label>
						<p>
							<input type="password" id="password" name="password">
							<label for="password">Password</label>
						<p>
							<input type="email" id="email" name="password">
							<label for="email">Email (required for registration)</label>
						<p>
							<input type="submit" id="login" name="login" value="Log In">
							<input type="submit" id="register" name="register" value="Register">
					</table>
				</form>
			</div>
			<div id="rooms_clear"></div>
		</div>

		<div id="controls">
			<ul id="roomtabs">
				<li id="connect" class="active" data-room="connect"><a href="#connect">Connect</a></li>
			</ul>
			<div id="entry">
				<div id="textinput" contentEditable></div>
				<button>send</button>
			</div>
	</div>

</div>

<footer></footer>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/underscore-min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/ICanHaz.min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/date.min.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/humane.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/barchat.ui.js"></script>
<script type="text/javascript" src="http://{{$host}}/js/barchat.obj.js"></script>

</body>
</html>